<head>
    {% load static %}
    <!-- Compiled and minified CSS -->
    <link href="{% static 'fundmyteacher/css/materialize.css' %}" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>


    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">FundMyTeacher</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}


</body>